body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background: #f5f5f5;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin: 20px 0;
}

table, th, td {
  border: 1px solid #ddd;
}

th, td {
  padding: 8px;
  text-align: left;
}

button {
  margin-right: 5px;
}

.task-button{
  background-color: green;
  border: none;
  padding: 0.5%;
  border-radius: 5px;
  cursor: pointer;
}
.task-title{
  color: blue;
}